log_level                :info
log_location             STDOUT
node_name                '<%= @node_name %>'
client_key               '<%= @client_key %>'
validation_client_name   '<%= @validation_client_name %>'
validation_key           '<%= @validation_key %>'
chef_server_url          '<%= @chef_server_url %>'
syntax_check_cache_path  '<%= @syntax_check_cache_path %>'
